*.gzip
data/*
!data/README.md
*.ipynb_checkpoints/
*.png
*.jpg
*.drawio
*.pkl
*.csv

# Will upload the important plots manualy
*.pdf

# Ignore LDA model files
*.model
*.id2word
*.state
*.npy

# Ignore rescource folder
emotional-models/resources/*